/* Colors
_____________________________________________________ */
// Brand colors
// acent_color = #0153D8
acent_color = #3a2099
dark_color = #222734

black_color = #000
white_color = #fff



// Socials colors
dribbble = #EA4C89
linkedin = #0077B5
twitter = #55ACEE
medium = #00ab6c
instagram = #405de6
behance = #0864FF
facebook = #3b5998
youtube = #cc181e

/* Typography
_____________________________________________________ */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
tipography = 'Maison Neue', 'Noto Sans', 'Avenir Next',sans-serif;


