.TitleSection	
	margin 20px auto
	&-Name
		font-size 2.5em
		line-height 1em
		font-weight 600
		margin 0 auto
		font-family tipography2
	&-Icon
		width 50px
		margin 0 auto 20px
	&-Caption
		font-size 12px
		margin 0
		
			 

//---#Texts
.text-left
	text-align left
	
.text-right	
	text-align right

.text-center
	text-align center

.text-justify
	text-align justify
	
.text-uppercase
	text-transform uppercase

.text-primary
	font-size 1em
	font-weight 400
	line-height 1.5em
	word-wrap break-word
	letter-spacing .3px
	
.text-secondary
	font-weight 400
	word-wrap break-word
	font-size .9em
	line-height 1.4em
	letter-spacing .3px
	
	
	
.t_spacing-1
	letter-spacing 1px
.t_spacing-2
	letter-spacing 2px

.font-primary
	font-family tipography
.font-secondary			 
	font-family tipography2
	
	
@media only screen and (min-width : 910px)
	.TitleSection	
		margin 20px auto 0px
		&-Icon
			width 70px
		&-Name
			font-size 48px
			
	.text-primary
		font-size 1.2em

	
@media only screen and (min-width : 1400px)
	.TitleSection	
		margin 20px auto 20px







