@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Light.woff2') format('woff2'),
    url('../fonts/MaisonNeue-Light.woff') format('woff'),
    url('../fonts/MaisonNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-bold.woff2') format('woff2'),
    url('../fonts/MaisonNeue-bold.woff') format('woff'),
    url('../fonts/MaisonNeue-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-book.woff2') format('woff2'),
    url('../fonts/MaisonNeue-book.woff') format('woff'),
    url('../fonts/MaisonNeue-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('../fonts/MaisonNeue-mono.woff2') format('woff2'),
    url('../fonts/MaisonNeue-mono.woff') format('woff'),
    url('../fonts/MaisonNeue-mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}