opacidad_1 = .6
opacidad_2 = .2

body
	color white_color
	background-color dark_color_m

.Handoff
	background-color dark_color_m
	background-image url('../img/meetup/bg-handoff_mobile.png')
	background-size auto 100%
	background-position left center
	background-repeat no-repeat
	color white_color
	height 90vh
	padding 0 0 5vh
		
.Header
	height 60px
	padding 0 20px 0 100px
	text-align left
	text-transform uppercase
	row()
	vertical(middle)
	
	&_Name
		col(12)
		opacity opacidad_1
		font-size 14px 
		font-weight 400
		display inline-block

		
.Content 
	text-align left
	padding 20px 0 0 100px
	h3
		display none !important
	h2
		text-transform uppercase
		font-size 16px
		letter-spacing 4px
		line-height 24px
		font-family tipography2
	p
		opacity opacidad_1
	
			
			

.Register
	display block
	margin 140px auto 40px
	&_Title
		text-transform uppercase
		margin-bottom 10px
		h4
			font-size 16px
			letter-spacing 1px
			font-family tipography2
		
	&_Item
		display inline-block
		position relative
		text-align left
		vertical-align top
		width 100%
		z-index 10
		border-bottom solid thin rgba(white_color, .2)
		margin-bottom 5px
		
		.Label
			display inline-block
			position absolute
			transition_all(.3s)
			bottom 0
			opacity opacidad_2
			left 0
			font-size 14px
			width 100%
			height 30px
			&::after
				background white_color
				bottom -1px
				content ''
				display block
				height 1px
				transition_all(.3s)
				left 0
				position absolute
				width 0
				z-index 2
			
			&.invalid,
			&.valid
				height 100%
				z-index -1
				opacity opacidad_1
				&::after
					transition-delay .3s
					width 100%
					opacity 1
			&.invalid
				&::after
					background-color #FF2B67
			
		input
			background-color transparent
			border none
			color white_color
			display inline-block
			font-size 16px
			font-weight 400
			line-height 30px
			margin 20px auto 0
			position relative
			transition_all(.3s)
			width 100%
				
			// &:valid,
			&:focus
				outline none
				&+
					.Label
						height 100%
						z-index -1
						opacity opacidad_1
						&::after
							transition-delay .3s
							width 100%
							opacity 1
		
	/*===============*/
	#FNAME-error,
	#LNAME-error,
	#mce-EMAIL-error
		font-weight 400
		color #FF2B67
		letter-spacing .5px
		display none
		font-size 12px
		
	.cta
		background white_color
		color dark_color_m
		display inline-block
		font-size 15px
		font-weight 900
		line-height 36px
		margin 0 auto
		position relative
		width 100%
		text-transform uppercase
		border-radius 0
		letter-spacing 1px
		font-family tipography2
		z-index 10
		opacity opacidad_2
		transition_all(.3s)
		&:focus
			opacity 1
			outline none
		&.is-sending
			overflow hidden
			&::after
				content ''
				display block
				top 0 
				height 100%
				animation progressing 1s infinite ease-in-out
				transition_all(.3s)
				background rgba(black_color_m, .9)
				position absolute
				
.Sponsors
	display block
	padding 0 20px 0 0
	row()
	justify(between)
	&_Item
		background-image url('../img/meetup/sponsors_sprite.png')			
		background-repeat no-repeat
		background-size 160px
		display inline-block
		width 40px 
		height 40px
		opacity opacidad_2
		span
			display none
		&.Sketchapp
			background-position 0px center
		&.twenty-three-design
			background-position -40px center
		&.centraal
			width 80px
			background-position -80px center
	&_Socials
		margin-top 30px
					
		.Tag
			text-transform uppercase
			display inline-block
			font-family tipography2
			color white_color
			opacity opacidad_1
			text-align right
			margin 0 20px 0 0
		

@media screen and (min-width : 601px)
	.Handoff,
	.Content 
		margin 0 auto
		width 400px
	.Header
		padding 0
		text-align center
		
@media screen and (min-width : 1025px)
	.Handoff
		width auto
		background-image url('../img/meetup/bg-handoff_desktop_0.png')
		background-size 90% auto
		background-position center 50%
		transition_all(2s)
		opacity 0
		
		&.Preload
			opacity 1
		
		&.Load
			background-position center 30%
			background-size 95% auto
			background-image url('../img/meetup/bg-handoff_desktop.png')
		
	.Header
		text-align left
		max-width 1100px
		height 90px
	
	.Content 
		width 100%
		max-width 1100px
		margin-top 13%
		padding 0
		transition_all(1s)
		opacity 0
		&.Load
			opacity 1
			h2,
			p
				transform scale(1)
			h2
				margin-top 0
			p
				margin-right 0px
				
			
		h2
			letter-spacing 25px
			font-size 26px
			transition_all(1s)
			font-weight 100
			transform scale(.94)
			margin-top -30px
		p
			margin-top 50px
			transition_all(1s)
			text-align right
			letter-spacing 5px
			text-transform uppercase
			transform scale(.94)
			margin-right 30px
			
	.Register
		margin 80px auto 120px
		transition_all(1s)
		opacity 0
		&.Load
			opacity 1
			
		.Form
			height 100px
			padding 20px 0 0
			row()
			vertical(middle)
			justify(between)
			max-width 100%
		&_Title
			display inline-block
			col(3)
		&_Item
			col(3)
		
		#mce-EMAIL-error
			display inline-block
			position absolute
			bottom -30px
			left 0
			
		.cta
			&:hover
				opacity 1
				outline none
			
	
	.Sponsors
		justify(left)
		vertical(middle)
		padding 0
		transition_all(5s)
		opacity 0
		padding 20px 0 0 0 
		transform scale(.98)
		&.Load
			opacity 1
			transform scale(1)		
				
		&_Item
			margin-right 40px
			width 80px 
			background-size 320px
			height 80px
			&.Sketchapp
				background-position 0px center
			&.twenty-three-design
				background-position -80px center
			&.centraal
				width 160px
				background-position -160px center
			&:focus,
			&:hover
				opacity opacidad_1
			
		
		&_Socials
			display block
			text-align right
			height 100%
			width calc(100% - 440px)
			.Tag
				vertical-align top
				margin 0 0 0 10px
				&:focus,
				&:hover
					opacity 1
		
	






