main
	text-align left
	row()
	vertical(top)
	justify(around)
	
.Left,
.Right
	width 50%
	text-align left
	display inline-block
	height 100vh
	position relative
	transition_all(.3s)

.Container
	padding 60px



	
#Hero
	height 100vh
	position relative
	.About
		margin-top 170px
		.Title
			font-size 90px
			line-height 50px
			font-weight 700
			margin-bottom 20px
			color black_color
			
			
		p
			font-size 18px
			max-width 420px
			line-height 28px
			margin-bottom 40px
			font-weight 400
		
header
	padding 20px 0

.logo
	display inline-block
	font-size 14px
	color dark_color
	font-weight 700
	line-height 35px
	


.Socials
	ul
		li
			display inline-block
			margin-right 20px
	&_Link
		display block
		color rgba(dark_color, .54)
		transition_all(.3s)
		font-weight 400
		font-size 14px
	
			
				

.Partners
	position absolute 
	bottom 4%
	left 4%
	ul
		li
			display inline-block
			a
				display block
				padding 10px
				height 60px
				background-position center
				background-repeat no-repeat
				background-size 100%
				text-indent -10000px
				overflow hidden
				&.Sketchapp
					background-image url('../img/partners/sketchapp.png')
					width 180px
						 
				&.Centraal
					background-image url('../img/partners/centraal.png')
					width 180px
					
				&.Twenty-three-design
					background-image url('../img/partners/23design.png')
					width 60px
					
	

	


#Next,
#Backlog
	height 50vh
	color white_color
	position relative
	overflow hidden
	transition_all(.3s)
	
	
	.Container
		position relative
		z-index 10
#Backlog
	.Container
		padding-top 8%
		
	&:after
		position absolute
		content ''
		width 100%
		height 100%
		left 0 
		bg_gradient_top(rgba(black_color, .3), rgba(black_color, .4))
		bottom 0
		z-index 0
		display block
	

.Label
	letter-spacing 0.7
	font-weight 700
	font-size 12px
	margin 0 0 5px 0 
	text-transform uppercase
	display inline-block
	
	
.Title
	font-size 34px
	letter-spacing -0.42px
	font-weight 400
	margin-top 0
	margin-bottom 0

.Caption
	font-size 14px
	margin-bottom 40px
	margin-top 5px

.Link_address
	color white_color
.Cta
	display inline-block
	text-transform uppercase
	color white_color
	font-size 14px
	font-weight bold
	position relative
	padding-right 50px
	&:after,
	&:before
		background white_color
		content ''
		display block
		position absolute
		transition_all(.3s)
		transition-delay .1s
		
	&:after
		width 30px
		height 1px
		right 10px
		top 50%
		margin-top -1px
	&:before
		background-color transparent
		border-right thin solid white_color
		border-top thin solid white_color
		height 8px
		right 10px
		width 8px
		top 2px
		transform rotate(45deg)
	
	
@media screen and (min-width screen_large)
	.Cta
		&:hover
			&:after
				right 0px
				width 40px
			&:before
				right 0px
		&.is-hide
			display none
			
		
	.bg-full
		background-size cover
		background-repeat no-repeat
		background-position center
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		display block
		z-index 0
		transition_all(1s)
		&.is-opacity
			opacity 0.3
			filter blur(40px)

		
		&.is-hover
			transform scale(1.09)
			

		
		
		
	
	.Socials
		&_Link
			position relative
			&:after
				position absolute
				content ''
				width 0
				height 2px
				bottom -3px
				left 0
				display block
				transition_all(.3s)
			&.facebook:after
				background facebook
			&.medium:after
				background medium
			&.twitter:after
				background twitter
			&.instagram:after
				background-image linear-gradient(left, #405de6 0%, #e1306c 50%, #fcaf45 90%)
			

			&:hover
				color rgba(dark_color, 1)
				&::after
					width 100%
		
	
	// Register
	.Detail
		height 0
		overflow hidden
		opacity 0
		margin-top 50px
		transition_all(0s)
		transition-delay 0s
		&.is-show
			height 100%
			transition_all(.5s)
			opacity 1
			margin-top 0
			transition-delay .5s
		
	.Modal	
		position relative
		transition_all(.3s)
		.Container
			transition_all(.3s)
			position relative
		&_Close
			background white_color
			border-radius 50%
			height 24px
			position absolute 
			right 48px
			top 148px
			transition_all(0s)
			transition-delay 0s
			width 24px
			z-index 100
			transform scale(0)
			&::before,
			&::after
				background rgba(dark_color, .7)
				content ''
				display block
				height 2px
				left 25%
				position absolute
				top 50%
				transition_all(.3s)
				width 50%
			&::before
				transform rotate(-45deg)
			&::after
				transform rotate(45deg)
			span
				display none
			&:hover
				&::before,
				&::after
					background rgba(dark_color, 1)
			&.is-active
				display block
				transform scale(1)
				transition_all(.5s)
				transition-delay .5s
		&.is-active
			transition-delay .5s
			.Container
				max-width 1080px
				margin 0 auto
				padding-top 160px
			.Link_address
				text-decoration underline	
			.Caption
				margin-bottom 20px
				
	.Description
		display inline-block
		width calc(100% - 360px)
		vertical-align top
		padding-right 80px
		ul
			li
				display block
				line-height 32px
				position relative
				padding-left 20px
				&::before
					content '▪︎'
					position absolute 
					left 0
	.SubTitle
		margin-bottom 10px
		margin-top 30px
	
	.FormComponent
		background white_color
		display inline-block
		width 360px
		position absolute
		right 60px
		top 160px
		color black_color
		padding 30px
		padding-bottom 100px
		overflow hidden
		.Form
			transition_all(.3s)
		
		&.is-hide
			min-height 400px
			padding 0
			.Form
				transform scale(0.8)
				padding 0px
				opacity 0
				display none
				

		&_Header
			margin-bottom 20px
			padding 10px 0 20px
			h4
				font-weight 400
				font-size 20px
		
		&_Content
			label
				display inline-block
				width 100%
				font-size 14px
				color rgba(dark_color, .7)
			input
				line-height 48px
				outline 0
				width 100%
				border none
				border-bottom solid thin rgba(dark_color, .6)
				font-size 18px
				transition_all(.3s)
				&:focus
					border-bottom solid thin dark_color
				&:hover
					background #F8F7FA
		&_Item
			margin-bottom 30px
			vertical-align top
			&:last-child
				margin-bottom 0
			&-Middle
				width 49%
				display inline-block
				
		&_Cta
			background black_color
			border 0 
			bottom 0
			color white_color
			line-height 70px
			left 0
			outline 0
			padding 10px
			position absolute
			text-transform uppercase
			font-size 12px
			font-weight 700
			letter-spacing .5px
			z-index 100
			transition_all(.3s)
			width 100%
			&:focus,
			&:hover 
				background black_color
				font-size 14px

			&.is-Sending
				background black_color
				color black_color
				
		#LNAME-error,
		#FNAME-error,
		#mce-EMAIL-error
			font-size 12px
			padding-top 4px
			color red
		
	#resultComponent
		position absolute
		top 80%
		left 0
		width 100%
		height 90px
		display block
		padding 40px
		padding-top 300px
		z-index 10
		transition_all(.6s)
		
		&.is-success
			background black_color
			color white_color
			height 100% 
			top 0
			padding-top 40px
			
			h3
				opacity 1
			p
				opacity 0.87
			#BtnAgain
				opacity 1
				margin-top 70px
		
		h3
			font-size 40px
			font-weight 100
			margin-bottom 40px
			opacity 0
			transition_all(.3s)
		p
			opacity 0
			transition_all(.3s)
		#BtnAgain
			color rgba(white_color, .6)
			display inline-block
			font-size 14px
			font-weight 700
			margin-top 400px
			opacity 0
			text-transform uppercase
			transition_all(.3s)
			&:hover
				color rgba(white_color, 1)
				
				
				
			
				
			

	// For active form & expand Next component
	.Left
		&.full
			transition_all(1s)
			margin-left -50%
	.Right
		&.full
			transition_all(1s)
			width 100%
			#Next
				width 100%
				height 100%
			
			#Backlog
				height 0px
				
		
		

