body
	color black_color_m
	background acent_color_m

.Info
	background-image url('../img/meetup/ds.jpg')
	background-position center bottom
	background-repeat no-repeat
	background-size 100%
	color white_color
	overflow hidden
	padding 30px
	position relative
	text-align left
		
		
	
	&_Name
		font-size 20px
		padding 10px
		font-weight 900
		background white_color
		text-transform uppercase
		display inline-block
		text-align center
		color black_color_m
		
		
	&_Title
		font-weight 700
		font-size 42px
		margin-top 30px
		line-height 1
		
	&_Date
		font-weight 700
		margin-top 50px
		font-size 24px
		div 
			display block
			margin-bottom 5px
		span
			display none
	&_Venue
		margin-top 10px
		font-size 24px
		font-weight 700
	&_Address
			font-size 18px
			margin 0
			font-weight 400

.Sidebar
	background white_color
	padding 30px
	text-align left
	&_Title
		font-size 30px 
		margin-bottom 10px
		font-weight 900
	&_Slots
		font-size 16px
		margin-top 10px
		font-weight 400
		
.Form
	margin-top 50px
	color dark_color_m
	
	label 
		display block	
		font-size 14px
		margin-bottom 5px
		
	input
		line-height 60px
		text-indent 10px
		display block
		width 100%
		border solid 2px rgba(dark_color_m, .2)
		font-weight 400
		font-size 16px
		transition_all(.3s)
		border-radius 4px
		color black_color_m
		&:focus
			background rgba(black_color_m, .01)
			outline none
			border-color transparent
			box-shadow 0 5px 40px -6px rgba(dark_color_m, .5)
			
		&:checked
			background red
	
	
	&_Item
		display block
		margin 20px 0 30px
		&_Sub
			display inline-block
			width 48%
			position relative
			cursor pointer
			height 24px
			user-select none
			&:hover input ~ .checkmark
				background rgba(dark_color_m, .9)
				
			label
				line-height 24px
				width 100%
				padding-left 35px
				z-index 10
				position absolute
				font-weight 700
				font-size 20px
			label
			input
				display inline-block
			input
				width 24px
				margin 0 5px 0
				height 24px
				border-radius 50%
				position absolute
				opacity 0
				&:checked ~ .checkmark
					background dark_color_m
					
				&:checked ~ .checkmark:after
					display block
					
					
			.checkmark
				position absolute
				width 24px
				height 24px
				top 0
				left 0
				background rgba(dark_color_m, .2)
				border-radius 50%
				&:after
					content ''
					display none
					position absolute
					top 7px
					left 7px
					width 10px
					height 10px
					border-radius 50%
					background white_color
					
.button,
.cta
	background acent_color_m
	border none
	border-radius 4px
	color white_color
	display block
	font-weight 900
	line-height 60px
	margin 0 auto
	position relative
	text-transform uppercase
	width 100%
	max-width 500px
	z-index 10
	transition_all(.3s)
	&:focus
		outline none
		box-shadow 0 0 0 5px rgba(acent_color_m, .4)
						
@media only screen and (min-width : 325px)
	.Info
	.Sidebar
		padding 45px

@media only screen and (min-width : 768px)
	.Info
		&_Title
			font-size 90px
			span
				font-size 90px
		&_Date
		&_Venue
			font-size 48px
			small
				font-size 24px
			
			
	.Form
		margin-top 75px
		input
			font-size 24px
						

@media only screen and (min-width : 910px)
	.Info
		padding 70px
		padding-right 45%
		height 100%
		height 100vh
		&::after
			right 30%
			bottom 0
			width 550px
			height 550px
		
		&_Title
			font-size 72px
			span
				font-size 72px
				
		&_Date
			font-size 32px
			margin-top 150px
			span
				display inline-block
			div
				display inline-block
		
	.Sidebar
		position absolute
		right 0
		top 0
		height 100%
		height 100vh
		padding 70px 30px
		width 400px
	

@media only screen and (min-width : 1024px)
	.Info
		&_Title
			font-size 72px
			
		&_Venue
		&_Date
			font-size 40px
			
		&_Venue
			margin-top 0
			
		&_Date
			margin-top 170px
		
	.Sidebar
		padding 70px 40px
		&_Title
			font-size 24px
	
	.Form
		margin-top 20px
		
	.button,
	.cta
		&:hover
			background black_color_m
			box-shadow 0 0 40px -5px rgba(black_color_m, .3)
			
	
	

		
@media only screen and (min-width : 1200px)
	.Info 
		background-position left center
		background-size 70%
		padding-top 40px
		padding-left 80px
		padding-right 35%
		&::after
			background-position center bottom
			background-size 400px
			
		&_Title
			font-size 100px
			span
				font-size 100px
		&_Date
			font-size 30px
		&_Venue
			font-size 50px
			
	.Sidebar
		padding 40px 70px
		width 35%
		&_Title
			font-size 30px
		&_Slots
			font-size 18px

@media only screen and (min-width : 1600px)
	.Info 
		padding-top 140px
		padding-left 200px
		&_Title
			font-size 110px
			
	.Sidebar
		padding 140px 80px

	.Form
		margin-top 80px
