/*======== Electron =======*/
Atom_radius = 30px
Electron_radius =  5px

circle(radio)
	border-radius 50%
	width (radio * 2)
	height (radio * 2)
			
@keyframes orbita
	0%
		transform rotateZ(0deg) translateX(Atom_radius)
	100%
		transform rotateZ(360deg) translateX(Atom_radius)
		
/*===============*/

body
	color white_color
	background-color black_color_m
	font-family tipography
	
	
.js_show
	transition_all(1s)
	opacity 0
	&.show-1
		transition-delay .2s
	&.show-2
		transition-delay .4s
	&.show-3
		transition-delay .6s
	&.show-4
		transition-delay .8s
	&.is-load
		opacity 1

.js_scale
	// margin-top -200px
	transform scale(0)
	transition_all(1s)
	&.is-load
		margin-top 0
		transform scale(1)
		

		
.Main
	padding 30px
	background-image url('../img/meetup/bg-atomic.png')
	background-position center 0
	background-repeat no-repeat
	background-size 100%
	height 100vh
	transition_all(1s)
	opacity 0
	&.is-load
		opacity 1
		
	&_Name
		font-size 40px
		margin-top 120px
		position relative
		font-weight 900
		&_Icon
			border solid 1px white_color
			circle(Atom_radius)
			left 50%
			margin-left -(Atom_radius)
			position absolute
			top -(Atom_radius*2.5)
			&::after
				content ''
				display block
				circle( Electron_radius )
				position absolute
				top (Atom_radius - Electron_radius)
				left (Atom_radius - Electron_radius)
				background-color white_color
				animation orbita 2s infinite linear
			&::before
				content ''
				display block
				circle( Electron_radius*2 )
				position absolute
				top (Atom_radius - (Electron_radius*2))
				left (Atom_radius - (Electron_radius*2))
				background-color white_color
			
				
	&_Title
		font-family tipography2
		font-size 24px
		font-style italic
		font-weight 100
		

// .Form
// 	margin 80px auto 0
// 	display block
// 	max-width 750px
	
// 	input
// 		background rgba(white_color, .1)
// 		border solid 2px transparent
// 		border-radius 4px
// 		display inline-block
// 		font-size 16px
// 		font-weight 400
// 		line-height 36px
// 		text-indent 10px
// 		width 100%
// 		margin 0 auto 20px
// 		transition_all(.3s)
// 		color white_color
// 		&:focus
// 			border solid 2px rgba(white_color, 1)
// 			outline none
// 			// box-shadow 0 5px 40px -6px rgba(dark_color_m, .5)
			
// 	&_Title
// 		font-size 18px
// 		font-weight 700
// 		display block
// 		line-height 42px
// 		text-align center
// 	&_Item
// 		text-align left
// 		display block
// 		width 100%
// 		vertical-align top
// 		&_container 
// 			position relative
// 			display inline-block
// 			width 100%
			
		
// 		&.Item-1
// 			margin 0
		// &.Item-2
		

/*===============*/
#FNAME-error,
#LNAME-error,
#mce-EMAIL-error
	font-weight 400
	color #FF2B67
	letter-spacing .5px
	display none
	font-size 12px
	// position absolute
	// bottom -40px
	// background rgba(white_color, .2)
	// left 0
	// padding 10px
	// border-radius 4px
	// width 280px
	


// .button,
.send
	background white_color
	border solid 1px white_color
	border-radius 4px
	color dark_color_m
	display inline-block
	font-size 15px
	font-weight 900
	line-height 36px
	margin 0 auto
	position relative
	width 100%
	z-index 10
	transition_all(.3s)
	&:focus
		outline none
		box-shadow 0 0 0 4px rgba(white_color, .4)
		background rgba(white_color, .8)
		border-color rgba(white_color, .8)
	&.is-sending
		overflow hidden
		&::after
			content ''
			display block
			top 0 
			height 100%
			animation progressing 1s infinite ease-in-out
			transition_all(.3s)
			background rgba(black_color_m, .9)
			position absolute

.Footer
	padding 20px 0
	margin-top 40px
	&_Item
		width 100%
		display inline-block
		margin-bottom 40px
	&_Link
		color acent_color_m
	a
		opacity .7
		&:focus
			color acent_color_m
		


			
@keyframes progressing
	0%
		width 1px
		left -20px
	50%
		width 100%
	51%
		left initial
	100%
		right 0
		width 0




@media only screen and (min-width : 768px)
	.Main
		&_Name
			font-size 124px
			margin-top 12%
			&_Icon
				&.Icon_Modal
					top 40px
					

		&_Title
			font-size 30px
		
	// .Form
	// 	margin 60px auto 0
		
	// 	input
	// 		width 200px
	// 	&_Title
	// 		text-align left
	// 		display inline-block
	// 		margin 0 20px 0 0
	// 	&_Item
	// 		width 48%
	// 		display inline-block
	// 		text-align center
	// 		&_container 
	// 			display inline-block
	// 			position relative
	// 			width 200px
	// 			vertical-align top
	// 		&.Item-1
	// 			margin 0
	// 			width 50.5%
	// 		&.Item-2
	// 			input
	// 				border-radius 4px 0 0 4px
	// 			.send
	// 				margin-left -5px
				
					
	.send
		width 100px
		border-radius 0 4px 4px 0
		
			
	.Footer
		position absolute
		bottom 0
		width calc(100% - 80px)
		padding 0
		text-align left
		&_Item
			width 32%
			margin-bottom 20px
			&:nth-child(1),
			&:nth-child(3)
				p
					font-size 20px
					color rgba(white_color, .3)
			&:nth-child(1)
				text-align left
				 
			&:nth-child(2)
				text-align center
				
			&:nth-child(3)
				text-align right
			
@media only screen and (min-width : 1024px)
	.send
		&:hover
			background rgba(white_color, .8)
			border-color rgba(white_color, .8)
		








